{% load static %}
<nav
	class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between p-3 fixed-position"
>
	<div
		class="container p-3 text-white d-flex flex-column flex-lg-row align-items-lg-center justify-content-between"
	>
		<div class="d-flex align-items-center mb-3 mb-lg-0">
			<img
				src="{% static 'img/ping-pong (1).png' %}"
				class="pe-4"
				width="50"
				height="60"
			/>
			<p class="mb-3 ml-3 mb-lg-0">
				FT_TRANSCENDENCE<br />
				Copyright &copy; 2024 The Transcendence Corporation, INC.
			</p>
		</div>
		<div class="navbar-nav d-flex align-items-end justify-content-end">
			<li class="nav-item">
				<a
					href="/"
					class="nav-link"
					>Home</a
				>
			</li>

			<li class="nav-item">
				<a
					href="howItWorks"
					class="nav-link"
					>How It Works</a
				>
			</li>

			<li class="nav-item">
				<a
					href="howItWorks"
					class="nav-link"
					>Play Pong</a
				>
			</li>

			<li class="nav-item">
				<a
					href="about"
					class="nav-link"
					>About Us</a
				>
			</li>

			<li class="nav-item">
				<a
					href="login"
					class="nav-link"
					>Login</a
				>
			</li>

			<li class="nav-item">
				<a
					href="/"
					class="nav-link"
					>Sign Up</a
				>
			</li>
		</div>
	</div>
</nav>
